*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:serif;
}
.container{
	width:90%%;
	margin:2opx 30px;
}
.row{
	display:flex;
}
.coloum{
	width:50%;
	padding:0 15px;
}

h1{
	font-size:20px;
	font-weight:bolder;
}
p{
	font-size:16px;
}
.heading>h1,p{
	margin-bottom:30px;
}
.lorem{
  display:flex;
  justify-content:center;
  
}
h3{
	padding-bottom:10px;
}
	
.icon{
	color:skyblue;
	width:40px;
	height:40px;
	border: solid 1px;
	font-size:20px;
	display:flex;
	align-items:center;
	justify-content:center;
	border-radius:5px;
	border:none;
}
.lorem:hover .icon{
	color:white ;
	background-color:skyblue;
}
.lorem:hover h3{
	color:skyblue;

	


	



 
	

	
	

	